{{ $tld := or ($.Env.DOMAIN_TLD) "docker" }}
{{ $arpa := or ($.Env.ARPA) "0.17.172.in-addr.arpa" }}
{{range $key, $value := . }}
# {{ $value.Name }} ({{$value.ID}} from {{$value.Image.Repository}})
{{range $index, $net := .Networks}}
{{ if ne $net.IP "" }}
address=/{{$value.Name}}.{{ $net.Name }}.{{$tld}}/{{ $net.IP }}
{{end}}
{{end}}
{{end}}


bind-interfaces
interface=eth0
except-interface=lo
local=/{{$tld}}/
local=/{{$arpa}}/
